<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>control.userServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lokasiServlet</servlet-name>
        <servlet-class>control.lokasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kategoriServlet</servlet-name>
        <servlet-class>control.kategoriServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supplierServlet</servlet-name>
        <servlet-class>control.supplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>karyawanServlet</servlet-name>
        <servlet-class>control.karyawanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>barangServlet</servlet-name>
        <servlet-class>control.barangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pemesananServlet</servlet-name>
        <servlet-class>control.pemesananServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stockinServlet</servlet-name>
        <servlet-class>control.stockinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stockoutServlet</servlet-name>
        <servlet-class>control.stockoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>returServlet</servlet-name>
        <servlet-class>control.returServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finishreturServler</servlet-name>
        <servlet-class>control.finishreturServler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finish_retur_Servlet</servlet-name>
        <servlet-class>control.finish_retur_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelstockoutServlet</servlet-name>
        <servlet-class>control.cancelstockoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Koneksi</servlet-name>
        <servlet-class>control.Koneksi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>control.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admbarangServlet</servlet-name>
        <servlet-class>Admin_Control.admbarangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admsupplierServlet</servlet-name>
        <servlet-class>Admin_Control.admsupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admpemesananServlet</servlet-name>
        <servlet-class>Admin_Control.admpemesananServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admstockinServlet</servlet-name>
        <servlet-class>Admin_Control.admstockinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admstockoutServlet</servlet-name>
        <servlet-class>Admin_Control.admstockoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admreturServlet</servlet-name>
        <servlet-class>Admin_Control.admreturServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admfinish_retur_Servlet</servlet-name>
        <servlet-class>Admin_Control.admfinish_retur_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lokasiServlet</servlet-name>
        <url-pattern>/lokasiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kategoriServlet</servlet-name>
        <url-pattern>/kategoriServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supplierServlet</servlet-name>
        <url-pattern>/supplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>karyawanServlet</servlet-name>
        <url-pattern>/karyawanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>barangServlet</servlet-name>
        <url-pattern>/barangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pemesananServlet</servlet-name>
        <url-pattern>/pemesananServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stockinServlet</servlet-name>
        <url-pattern>/stockinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stockoutServlet</servlet-name>
        <url-pattern>/stockoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>returServlet</servlet-name>
        <url-pattern>/returServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finishreturServler</servlet-name>
        <url-pattern>/finishreturServler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finish_retur_Servlet</servlet-name>
        <url-pattern>/finish_retur_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelstockoutServlet</servlet-name>
        <url-pattern>/cancelstockoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Koneksi</servlet-name>
        <url-pattern>/Koneksi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admbarangServlet</servlet-name>
        <url-pattern>/admbarangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admsupplierServlet</servlet-name>
        <url-pattern>/admsupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admpemesananServlet</servlet-name>
        <url-pattern>/admpemesananServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admstockinServlet</servlet-name>
        <url-pattern>/admstockinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admstockoutServlet</servlet-name>
        <url-pattern>/admstockoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admreturServlet</servlet-name>
        <url-pattern>/admreturServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admfinish_retur_Servlet</servlet-name>
        <url-pattern>/admfinish_retur_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
